@media (min-width: 1310px) {

}

@media (min-width: 992px) {

}

@media (min-width: 768px) {

}

@media (min-width: 480px) {

}

@media (min-width: 320px) {

}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    -webkit-font-smoothing: antialiased;
    background-color: white;

}

h1,
h2,
h3,
h4,
p {
    padding: 0;
    margin: 0;
}

.burger {
    display: flex;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
}

.burger span{
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #ffffff;
}

.burger::before, .burger::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 30px;
    background-color: white;
    transition: all 0.3s ease 0s
}

.burger::before{ top: 0 }

.burger::after { bottom: 0 }

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header {
display: flex;
justify-content: space-between;
align-items: center;

height: 100px;

background-color: #e43071;
margin: 0;
}

.logo {
    font-size: 2.5rem;
    line-height: 1.095;
    font-weight: 800;
    color: white;
    margin-right: auto;
    text-decoration: none;
}

span.lyfe {
    color: #e999b6;
}

.header__list {
display: flex;
column-gap: 70px;

a{
    padding: 3px;
    color: white;
    text-decoration: none;
    opacity: 0.9;
    font-size: 25px;
}
}

.header__nav {
    width: 100%;
    max-width: 1400px;
    padding-inline: 15px;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(255, 255, 255);
    color: #e43071;

    height: 50px;
    line-height: 46px;
    width: 166px;

    font-weight: 500;
    font-size: 25px;
    border-radius: 25px;
    column-gap: 40px;
    text-decoration: none;
}

.welcome {
    padding: 500px;

    background-image: url("./images/main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.welcome__subtitle {
font-size: 120px;
text-align: center;
color: rgb(255, 255, 255);
margin: 0;
padding: 0;
}

.btn__welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    background-color: #e43071;
    color: #ffffff;

    height: 60px;
    width: 250px;
    font-size: 25px;

    font-weight: 500;
    border-radius: 40px;
    margin: 0 auto;
}


.meet {
    padding: 500px;
}


.meet_subtitle {
    font-size: 60px;
    text-align: right;
    color: #e43071;
    margin: 0 auto;
}
.meet_text {
    font-size: 20px;
    text-align: right;
    color: #000000;
    margin: 0 auto;
}
.meet_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    background-color: #ffffff;
    color: #e43071;

    height: 60px;
    width: 250px;
    font-size: 25px;

    font-weight: 500;
    border-radius: 40px;

    position: absolute;
    right: 2px
}


.become {
    padding: 500px;

    background-image: url("./images/sportgirl.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.become__subtitle {
    font-size: 120px;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 0;
}

.become__title {
    color: rgb(255, 255, 255);
margin: 1px;
text-align: center;
font-size: 25px;
}

.btn__become {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    background-color: #e43071;
    color: #ffffff;

    height: 60px;
    width: 250px;
    font-size: 25px;

    font-weight: 500;
    border-radius: 40px;
    margin: 0 auto;
}
